fastapi
uvicorn[standard]
pydantic
sqlalchemy
alembic
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib
bcrypt
httpx
opencv-python
pytesseract
spacy
# en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pytest
pytest-asyncio
